# Ambiente
# development | test | production
NODE_ENV=development

# Servidor
# Porta de escuta da API
PORT=3010

# Observação: o host de bind é fixo como 0.0.0.0 no server.ts
# HOST (não utilizado no momento)
# HOST=0.0.0.0

# Configurações futuras
# CORS_ORIGIN=*
# DATABASE_URL=
# JWT_SECRET=

# Documentação Swagger (opcional)
# SWAGGER_SERVER_URL=https://api.seu-dominio.xyz
# SWAGGER_SERVER_DESCRIPTION=Servidor público

# Integrações (opcional)
# COOLIFY_TOKEN=
# COOLIFY_WEBHOOK=
